<br />
<br />
<div class="card" style="width: 400px">
  <ng-content *ngIf="course.iconUrl; else noImage"></ng-content>
  <ng-template #noImage>
    <ng-container
      *ngTemplateOutlet="blankImage; context: { description: course.description }"
    ></ng-container>
  </ng-template>

  <!-- @if (course.iconUrl) {
    <img class="card-img-top" src="{{ course.iconUrl }}" alt="course image" />
  } @else {
    <h1>No image</h1>
  } -->

  <div class="card-body">
    <h5>
      <span class="badge" [ngClass]="course.category.toLowerCase()">{{ course.category }}</span>
    </h5>
    <h4 class="card-title" [style.text-transform]="'uppercase'">{{ course.description }}</h4>
    <p class="card-text">{{ course.longDescription }}</p>

    <div class="d-flex flex-column justify-content-between">
      @switch (course.category) {
        @case ('BEGINNER') {
          <span class="badge rounded-pill bg-primary">Beginner</span>
        }
        @case ('INTERMEDIATE') {
          <span class="badge rounded-pill bg-secondary">Intermediate</span>
        }
        @case ('ADVANCED') {
          <span class="badge rounded-pill bg-danger">Advanced</span>
        }
        @default {
          <span class="badge rounded-pill bg-warning">Unknown</span>
        }
      }

      <button class="btn btn-primary" (click)="onViewCourse()">View Details</button>
    </div>
  </div>
</div>
