<!doctype html>

<app-header />

<!-- <app-server></app-server> -->
<!-- <div>Hello, World</div>
<button class="btn btn-primary">Ok</button> -->

<div class="container">
  <!-- Moved to core component -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <p>Add new server or blueprint</p>
      <label>Server Name:</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName" />
      <label>Server Contnet</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContnet" />
      <br />
      <hr />
      <button class="btn btn-primary" (click)="onServerAdded()">Add Server</button>
      <button class="btn btn-success" (click)="onBlueprintAdded()">Add Blueprint</button>
    </div>
  </div> -->

  <!-- Moved to server element component -->
  <!-- <div class="row">
    <div class="col-xs-12">
      @for (elemet of serverElements; track elemet.id) {
        <div class="card">
          <strong [ngStyle]="{ color: elemet.type === 'server' ? 'green' : 'red' }">{{
            elemet.type
          }}</strong>
          <div class="card-header">{{ elemet.name }}</div>
          <div class="card-body">{{ elemet.content }}</div>
        </div>
      }
    </div>
  </div> -->
</div>

<!-- <div class="container">
  <app-core
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-core>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let element of serverElements" [element]="element">
        <p>
          <strong *ngIf="element.type === 'server'" style="color: blueviolet">{{
            element.content
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div> -->

<br />
<br />

<!-- <app-course-card
  (courseSelected)="onCourseSelected($event)"
  [course]="coreCourses"
></app-course-card>
<app-course-card
  (courseSelected)="onCourseSelected($event)"
  [course]="rxjsCourse"
></app-course-card>
<app-course-card
  (courseSelected)="onCourseSelected($event)"
  [course]="ngrxCourse"
></app-course-card> -->

<!-- @for (course of courses; track course.id; let index = $index) {
  <p>{{ index }}</p>
  <app-course-card (courseSelected)="onCourseSelected($event)" [course]="course"></app-course-card>
} @empty {
  <p>No courses found</p>
} -->

<!-- <div #containerRef>
  <app-course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[0]"
  ></app-course-card> -->
<!-- Card With template reference variable -->
<!-- <app-course-card
    #cardTwoRef
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[1]"
  ></app-course-card>
</div> -->

<!-- @for (course of courses; track course.id; let index = $index) {
  <p>{{ index }}</p>
  <app-course-card (courseSelected)="onCourseSelected($event)" [course]="course"></app-course-card>
} @empty {
  <p>No courses found</p>
} -->

<!-- <div #containerFor>
  <app-course-card
    *ngFor="let course of courses; trackBy: onTrackCourse; let index = index"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  ></app-course-card>
</div> -->

<!--  -->
<div *ngIf="courses[1] as course">
  <ng-template #noImage let-courseName="description">
    {{ courseName }}
  </ng-template>

  <!-- <ng-container
    *ngTemplateOutlet="noImage; context: { description: course.description }"
  ></ng-container> -->

  <!-- <app-course-card
   
    #highlightedDirective="high"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [blankImage]="noImage"
    appHighlighted
    (toggleHighlight)="onToggleHighlight($event)"

    
  > -->

  <app-course-card [course]="course" class="salmon">
    <app-course-image [imageUrl]="course.iconUrl"></app-course-image>
    <!-- <app-course-image [imageUrl]="courses[2].iconUrl"></app-course-image>
    <app-course-image [imageUrl]="courses[3].iconUrl"></app-course-image> -->
  </app-course-card>
</div>

<div class="course-card">test</div>
