<!doctype html>

<app-header />

<!-- <app-server></app-server> -->
<!-- <div>Hello, World</div>
<button class="btn btn-primary">Ok</button> -->

<div class="container">
  <!-- Moved to core component -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <p>Add new server or blueprint</p>
      <label>Server Name:</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName" />
      <label>Server Contnet</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContnet" />
      <br />
      <hr />
      <button class="btn btn-primary" (click)="onServerAdded()">Add Server</button>
      <button class="btn btn-success" (click)="onBlueprintAdded()">Add Blueprint</button>
    </div>
  </div> -->

  <!-- Moved to server element component -->
  <!-- <div class="row">
    <div class="col-xs-12">
      @for (elemet of serverElements; track elemet.id) {
        <div class="card">
          <strong [ngStyle]="{ color: elemet.type === 'server' ? 'green' : 'red' }">{{
            elemet.type
          }}</strong>
          <div class="card-header">{{ elemet.name }}</div>
          <div class="card-body">{{ elemet.content }}</div>
        </div>
      }
    </div>
  </div> -->
</div>

<div class="container">
  <app-core
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-core>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let element of serverElements" [element]="element">
        <p>
          <strong *ngIf="element.type === 'server'" style="color: blueviolet">{{
            element.content
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
