.success {
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.special {
  background-color: yellow;
  font-weight: bold;
  font-size: 20px;
}

.danger {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.primary {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
